<div class="col-md-10 col-md-offset-1">
  <div class="message-show">
    <h2><%= @message.head %></h2>
    <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %> ago.</p>
    <p class="message-body"><%= simple_format @message.body %></p>

    <div class="links btn-group">
      <%= link_to "Back", root_path, class: 'btn btn-default' %>
      <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_message_path(@message), class: 'btn btn-primary' %>
      <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, message_path(@message), data: { turbo_method: :delete, turbo_confirm: 'Really destroy this?' }, class: 'btn btn-danger' %>
    </div>

    <hr>
    <h3 class="comment-section-header">Comments:</h3>
    <p><%= render @message.comments %></p>

    <h4 class="reply-to-msg">Join Discussion:</h4>
    <%= render 'comments/form' %>

  </div>
</div>